body {
	font-family: "Noto Sans JP";
}

.u-desktop {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

/* pcの電話番号発信対応 */

/* ホバー */

a {
	color: inherit;
	text-decoration: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	scroll-behavior: smooth;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

.about__img {
	position: relative;
}

.about__img::before {
	content: "";
	display: block;
	padding-top: 87.164179%;
}

.about__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.about__title {
	margin-top: 30px;
	margin-top: 1.875rem;
}

.about__text {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 2.285;
	margin-top: 30px;
	margin-top: 1.875rem;
}

.about__button {
	margin-top: 40px;
	margin-top: 2.5rem;
	text-align: right;
}

.category__list {
	color: #A9A9A9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 700;
	padding-left: 30px;
	padding-left: 1.875rem;
}

.category__list li:nth-child(even) {
	margin-left: 40px;
	margin-left: 2.5rem;
}

.category__list li:nth-child(n+3) {
	margin-top: 15px;
	margin-top: 0.9375rem;
}

.contact {
	background-color: #011950;
	color: #fff;
}

.contact__textbox {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	max-width: 37.5rem;
	padding: 80px 70px;
	padding: 5rem 4.375rem;
	text-align: center;
}

.contact__title {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.75;
}

.contact__button--01 {
	border: 1px solid #fff;
	border-radius: 0.25rem;
	margin-top: 40px;
	margin-top: 2.5rem;
	padding: 18px 52px;
	padding: 1.125rem 3.25rem;
	text-align: center;
}

.contact__button--02 {
	border: 1px solid #fff;
	border-radius: 0.25rem;
	margin-top: 20px;
	margin-top: 1.25rem;
	padding: 18px 41px 18px 50px;
	padding: 1.125rem 2.5625rem 1.125rem 3.125rem;
	text-align: center;
}

.contact__text {
	font-size: 12px;
	font-size: 0.75rem;
	margin-top: 10px;
	margin-top: 0.625rem;
}

.contact__img {
	position: relative;
}

.contact__img::before {
	content: "";
	display: block;
	padding-top: 64%;
}

.contact__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.footer-nav__item {
	border-top: 1px solid #011950;
	width: 100%;
}

.footer-nav__item:last-child {
	border-bottom: 1px solid #011950;
}

.footer-nav__item a {
	color: #fff;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1;
	padding: 19.5px 0;
	padding: 1.21875rem 0;
	padding-left: 3px;
	padding-left: 0.1875rem;
}

.footer-nav__item a:hover {
	-webkit-text-decoration-color: #FFEA2E;
	text-underline-offset: 7px;
	text-decoration: underline;
	text-decoration-color: #FFEA2E;
}

.footer {
	background-color: #001135;
}

.footer__inner {
	padding-bottom: 30px;
	padding-bottom: 1.875rem;
	padding-left: 50px;
	padding-left: 3.125rem;
	padding-right: 50px;
	padding-right: 3.125rem;
	padding-top: 50px;
	padding-top: 3.125rem;
}

.footer__title {
	height: 80px;
	height: 5rem;
	margin-top: 50px;
	margin-top: 3.125rem;
	max-width: 100%;
	width: 108.48px;
	width: 6.78rem;
}

.footer__copy-right {
	color: #fff;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: 400;
}

.fv__inner {
	padding-left: 10px;
	padding-left: 0.625rem;
	padding-right: 10px;
	padding-right: 0.625rem;
	padding-top: 10px;
	padding-top: 0.625rem;
}

.fv__body {
	border-bottom: 2px solid #000;
}

.fv__title {
	font-size: 34px;
	font-size: 2.125rem;
	font-weight: 700;
	margin-top: 20px;
	margin-top: 1.25rem;
}

.fv__subtitle {
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 400;
	margin-top: 10px;
	margin-top: 0.625rem;
	padding-bottom: 10px;
	padding-bottom: 0.625rem;
}

.hamburger {
	height: 17px;
	height: 1.0625rem;
	position: relative;
	width: 25px;
	width: 1.5625rem;
	z-index: 100;
}

.hamburger span {
	background-color: #000000;
	height: 1px;
	height: 0.0625rem;
	position: absolute;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	width: inherit;
}

.hamburger span:last-child {
	width: 17px;
	width: 1.0625rem;
}

.hamburger span:nth-child(1) {
	top: 1%;
}

.hamburger span:nth-child(2) {
	top: 31%;
}

.hamburger span:nth-child(3) {
	top: 65%;
}

.hamburger.is-active span {
	background-color: #fff;
}

.hamburger.is-active span:nth-child(1) {
	left: 29%;
	top: 48%;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 23px;
	width: 1.4375rem;
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
	top: 51%;
}

.hamburger.is-active span:nth-child(3) {
	left: 29%;
	top: 48%;
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);
	width: 23px;
	width: 1.4375rem;
}

.header {
	height: 80px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

.header__inner {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: inherit;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 30px;
	padding-right: 1.875rem;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.header__title {
	max-width: 100%;
	width: 108.48px;
	width: 6.78rem;
}

.header__pc-nav {
	display: none;
	height: inherit;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.message {
	color: #011950;
	font-size: 84px;
	font-size: 5.25rem;
	font-weight: 700;
}

.news {
	background-color: #F3F3F3;
	padding-bottom: 80px;
	padding-bottom: 5rem;
	padding-top: 60px;
	padding-top: 3.75rem;
}

.news__category {
	margin-top: 40px;
	margin-top: 2.5rem;
}

.news__inner {
	padding-left: 50px;
	padding-left: 3.125rem;
	padding-right: 30px;
	padding-right: 1.875rem;
}

.news__items {
	margin-left: 30px;
	margin-left: 1.875rem;
}

.news__button {
	margin-top: 40px;
	margin-top: 2.5rem;
	text-align: right;
}

.pc-nav__items {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 80px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.pc-nav__item,
.pc-nav__item a {
	height: inherit;
}

.pc-nav__item a {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.2em;
	letter-spacing: 0.125em;
	line-height: 1;
	padding-left: 15px;
	padding-left: 0.9375rem;
	padding-right: 15px;
	padding-right: 0.9375rem;
}

.pc-nav__item a:hover {
	-webkit-text-decoration-color: #FFEA2E;
	text-underline-offset: 7px;
	text-decoration: underline;
	text-decoration-color: #FFEA2E;
}

.pc-nav__item:first-child a {
	padding-left: 0;
}

.pc-nav__item:nth-child(5) a {
	padding-left: 15px;
	padding-left: 0.9375rem;
	padding-right: 30px;
	padding-right: 1.875rem;
}

.pc-nav__item:last-child a {
	background-color: #fff;
	color: #000000;
	padding: 0 32px;
	padding: 0 2rem;
}

.pc-nav__item:last-child a:hover {
	color: #fff;
	text-decoration: none;
}

.pc-nav__item--blog a {
	padding-bottom: 2px;
	padding-bottom: 0.125rem;
}

.read-more-button {
	border: 1px solid #001E63;
	border-radius: 0.25rem;
	display: inline-block;
}

.read-more-button span {
	color: #001E63;
	display: inline-block;
	font-family: "Roboto";
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	padding: 11px 24px;
	padding: 0.6875rem 1.5rem;
	text-transform: uppercase;
}

.read-more-button span::after {
	border-right: 1px solid #001E63;
	border-top: 1px solid #001E63;
	content: "";
	display: inline-block;
	height: 7px;
	height: 0.4375rem;
	margin-bottom: 2px;
	margin-bottom: 0.125rem;
	margin-left: 8.2px;
	margin-left: 0.5125rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 7px;
	width: 0.4375rem;
}

.read-more-button--noline {
	border: none;
}

.read-more-button--noline span {
	padding: 0;
}

.section-title {
	color: #000000;
	font-family: "Oswald";
	font-size: 38px;
	font-size: 2.375rem;
	line-height: 1;
}

.section-title--small {
	font-size: 14px;
	font-size: 0.875rem;
}

.service-card__img {
	margin-left: 20px;
	margin-left: 1.25rem;
	position: relative;
}

.service-card__img::before {
	content: "";
	display: block;
	padding-top: 50.704225%;
}

.service-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.service-card__title {
	bottom: 55px;
	bottom: 3.4375rem;
	color: #fff;
	font-size: 26px;
	font-size: 1.625rem;
	font-weight: 700;
	left: 30px;
	left: 1.875rem;
	position: absolute;
}

.service-card__subtitle {
	color: #fff;
	font-family: "Oswald";
	font-size: 16px;
	font-size: 1rem;
	left: 30px;
	left: 1.875rem;
	position: absolute;
	top: 55px;
	top: 3.4375rem;
}

.service-card__text-inner {
	padding-left: 20px;
	padding-left: 1.25rem;
	padding-right: 20px;
	padding-right: 1.25rem;
}

.service-card__text {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 2.285;
	margin-top: 20px;
	margin-top: 1.25rem;
}

.service-card__button {
	margin-top: 20px;
	margin-top: 1.25rem;
	text-align: right;
}

.service {
	padding-bottom: 80px;
	padding-bottom: 5rem;
}

.service__head {
	padding-left: 20px;
	padding-left: 1.25rem;
	padding-right: 20px;
	padding-right: 1.25rem;
}

.service__items {
	margin-top: 20px;
	margin-top: 1.25rem;
}

.service__item {
	margin-top: 60px;
	margin-top: 3.75rem;
}

.service__item:first-child {
	margin-top: 0;
}

.sp-nav {
	background-color: #001135;
	display: none;
	height: 100vh;
	left: 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

.sp-nav.is-active {
	display: block;
	position: fixed;
}

.sp-nav__title {
	max-width: 100%;
	position: fixed;
	width: 108.48px;
	width: 6.78rem;
}

.sp-nav__items {
	min-height: 100vh;
	padding: 160px 50px 0;
	padding: 10rem 3.125rem 0;
}

.sp-nav__item {
	border-top: 1px solid #011950;
	width: 100%;
}

.sp-nav__item:last-child {
	border-bottom: 1px solid #011950;
}

.sp-nav__item a {
	color: #fff;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1;
	padding: 19.5px 0;
	padding: 1.21875rem 0;
	padding-left: 3px;
	padding-left: 0.1875rem;
}

.sp-nav__item a:hover {
	-webkit-text-decoration-color: #FFEA2E;
	text-underline-offset: 7px;
	text-decoration: underline;
	text-decoration-color: #FFEA2E;
}

.swiper-container {
	overflow: hidden;
}

.swiper-slide {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
}

.swiper-img {
	-o-object-fit: cover;
	background-position: top center;
	height: 100vh;
	object-fit: cover;
	position: relative;
}

.topics__body {
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 20px;
	padding-bottom: 1.25rem;
	padding-top: 20px;
	padding-top: 1.25rem;
}

.topics__meta {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.topics__date {
	color: #A9A9A9;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 700;
	margin-right: 4px;
	margin-right: 0.25rem;
}

.topics__category {
	background-color: #fff;
	color: #626262;
	display: inline-block;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 700;
	margin-left: 6px;
	margin-left: 0.375rem;
	padding: 5px 15px;
	padding: 0.3125rem 0.9375rem;
}

.topics__title {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.75;
	margin-top: 20px;
	margin-top: 1.25rem;
}

.works-card__inner {
	padding-left: 50px;
	padding-left: 3.125rem;
	padding-right: 30px;
	padding-right: 1.875rem;
}

.works-card__body {
	border-bottom: 1px solid #E2E2E2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	max-width: 295px;
	max-width: 18.4375rem;
	padding-bottom: 30px;
	padding-bottom: 1.875rem;
	width: 100%;
}

.works-card__img {
	max-width: 120px;
	max-width: 7.5rem;
	position: relative;
	width: 100%;
}

.works-card__img::before {
	content: "";
	display: block;
	padding-top: 75%;
}

.works-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.works-card__textbox {
	margin-left: 18px;
	margin-left: 1.125rem;
	max-width: 157px;
	max-width: 9.8125rem;
}

.works-card__category {
	background-color: #F3F3F3;
	color: #626262;
	display: inline-block;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 700;
	padding: 5px 15px;
	padding: 0.3125rem 0.9375rem;
}

.works-card__title {
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.75;
	margin-top: 12px;
	margin-top: 0.75rem;
}

.works-card__date {
	color: #A9A9A9;
	font-size: 10px;
	font-size: 0.625rem;
	font-weight: 700;
	margin-top: 12px;
	margin-top: 0.75rem;
}

.works {
	background-color: #F3F3F3;
	padding-top: 60px;
	padding-top: 3.75rem;
}

.works__inner {
	background-color: #fff;
	margin-left: 20px;
	margin-left: 1.25rem;
	padding-bottom: 80px;
	padding-bottom: 5rem;
}

.works__items {
	margin-top: 20px;
	margin-top: 1.25rem;
	padding-top: 30px;
	padding-top: 1.875rem;
}

.works__item {
	margin-top: 30px;
	margin-top: 1.875rem;
}

.works__item:first-child {
	margin-top: 0px;
	margin-top: 0rem;
}

.works__button {
	margin-top: 40px;
	margin-top: 2.5rem;
	padding-left: 20px;
	padding-left: 1.25rem;
	padding-right: 30px;
	padding-right: 1.875rem;
	text-align: right;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4545454545vw;
}

a[href^="tel:"] {
	pointer-events: none;
}

a:hover {
	opacity: 0.8;
}

.header {
	height: 180px;
}

.header__title {
	width: 15.210625rem;
}

.header__drawer {
	display: none;
}

.header__pc-nav {
	display: block;
}

.inner {
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.pc-nav__item:last-child a {
	padding: 0rem 1.875rem 0rem 2rem;
}

.pc-nav__item--blog:nth-child(5) a {
	padding-right: 1.8125rem;
}

.pc-nav__item--blog:last-child a {
	padding: 0rem 1.8125rem 0.125rem 2.0625rem;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}


/*# sourceMappingURL=styles.css.map */
