@use "global" as *;

.button{
    position: relative;
    display: inline-block;
    border: 1px solid #001E63;
    border-radius: rem(4);
    transition: .3s;
    line-height: 1;
    padding:rem(12) rem(39) rem(12) rem(24);
}

.button--noline{
    padding: 0;
}

.button--noline::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 120%;
    height: 1px;
    background: #001E63;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}

.button--noline:hover::after {
    transform: scale(1, 1);
}

.button span{
    display: inline-block;
    font-size: rem(14);
    font-family: $english;
    color:#001E63;
    font-weight: $medium;
    text-transform: uppercase; 
}

.button span::after{
    position:absolute;
    content:"";
    width: rem(7);
    height:rem(7);
    border-top: 1px solid #001E63;
    border-right: 1px solid #001E63;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    top:rem(18);
    right:rem(17);
    transition: 0.3s;
}

.button--noline span::after{
    position:absolute;
    content:"";
    width: rem(7);
    height:rem(7);
    border-top: 1px solid #001E63;
    border-right: 1px solid #001E63;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    top:rem(6);
    right:rem(-10);
    transition: 0.3s;
}

.button--next span::after{
    position:absolute;
    content:"";
    width: rem(7);
    height:rem(7);
    border-top: 1px solid #001E63;
    border-right: 1px solid #001E63;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    top:rem(18);
    right:rem(17);
    transition: 0.3s;
}

.button--noline:hover.button--noline span::after{
    right:rem(-15);
}

.button--noline{
    border: none;
}

.button--noline span{
    padding: 0;
}

.button--service{
    @include mq(md){
        border: 1px solid white;
    }
}

.button--service span{
    @include mq(md){
        color:$white;
    }
}

.button--service span::after{
    @include mq(md){
        border-top: 1px solid $white;
        border-right: 1px solid $white;
    }
}


.button--01, .button--02, .button--03{
    @include mq(md){
        border:1px solid $white;
        position: relative;
        display: inline-block;
        border-radius: rem(4);
        transition: .3s;
        line-height: 1;
        padding:rem(12) rem(39) rem(12) rem(24);
        text-transform: uppercase; 
    }
}

