@use "global" as *;

.contact{
    background-color: #011950;
    color:$white;
}

.contact__textbox{
    padding: rem(80) rem(70);
    max-width: rem(600);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact__title{
    font-size: rem(14);
    line-height: 1.75;
}

.contact__button--01{
    margin-top: rem(40);
    padding: rem(18) rem(52);
    border: 1px solid $white;
    border-radius: rem(4);
    text-align: center;
}

.contact__button--02{
    margin-top: rem(20);
    padding:rem(18) rem(41) rem(18) rem(50);
    border: 1px solid $white;
    border-radius: rem(4);
    text-align: center;
}

.contact__text{
    margin-top: rem(10);
    font-size: rem(12);
}

.contact__img{
    position: relative;
}

.contact__img::before{
    content: "";
    display: block;
    padding-top: 64%;//比率
	}

.contact__img img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:100%;
    object-fit: cover;
	object-position:center;
}