@use 'global' as *;

.fv__inner{
    padding-top: rem(10);
    padding-left: rem(10);
    padding-right: rem(10);
    @include mq(md){
        padding-top: rem(80);
        padding-right: rem(80);
        padding-left: rem(40);
        display: flex;
    }
}

.fv__body{
    border-bottom: 2px solid #000;
    @include mq(md){
        border-bottom: none;
    }
}

.fv__title{
    font-size: rem(34);
    font-weight: $bold;
    margin-top: rem(20);
    @include mq(md){
        writing-mode: vertical-rl;
        font-size: rem(60);
        margin-left: rem(40);
        margin-top: rem(80);
    }
}

.fv__subtitle{
    font-size: rem(23);
    font-weight: $regular;
    margin-top: rem(10);
    padding-bottom: rem(10);
    font-weight: $english;
    @include mq(md){
        position:absolute;
        font-size: rem(40);
        border-bottom: 1px solid #000;
        z-index: 10;
        max-width: rem(475);
        width:100%;
        right: rem(190);
        top:rem(590);
    }
}

