@use "global" as *;

.next-button{
    position: relative;
    display: inline-block;
    border: 1px solid #001E63;
    border-radius: rem(4);
    transition: .3s;
    line-height: 1;
    padding:rem(12) rem(39) rem(12) rem(24);
}

.next-button span{
    display: inline-block;
    font-size: rem(14);
    font-family: $english;
    color:#001E63;
    font-weight: $medium;
    text-transform: uppercase; 
}

.next-button span::after{
    position:absolute;
    content:"";
    width: rem(7);
    height:rem(7);
    border-right: 1px solid #001E63;
    border-top: 1px solid #001E63;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    top:rem(18);
    right:rem(17);
    transition: 0.3s;
}

.next-button:hover.next-button span::after{
    right:rem(12);
}

