@use "global" as *;

.pc-nav__items{
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pc-nav__item,
.pc-nav__link{
    height:inherit;
}

.pc-nav__link{
    font-family: $english;
    position:relative;
    color:$black;
    display: flex;
    align-items: center;
    font-size: rem(16);
    letter-spacing: 0.2em;
    line-height: 1;
    font-weight: $regular;
    padding-left: rem(25);
    padding-right: rem(25);
    letter-spacing: 0.125em;
}

.pc-nav__link::before{
    display: none;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    content:'';
    width: 6px;
    border-bottom: 6px solid #011950;
    transition: .3s;
}

.pc-nav__link:hover::before{
    display: block; 
    position: absolute;
}

.pc-nav__item:last-child a{
    padding: 0 rem(42);
    background-color: #011950;
    color: $white;
}

.pc-nav__item:last-child a span{
    display: inline-block;
    margin-right: rem(10);
}



















