@use "global" as *;

.previous-button{
    position: relative;
    display: inline-block;
    border: 1px solid #001E63;
    border-radius: rem(4);
    transition: .3s;
    line-height: 1;
    padding:rem(12) rem(24) rem(12) rem(39);
}

.previous-button span{
    display: inline-block;
    font-size: rem(14);
    font-family: $english;
    color:#001E63;
    font-weight: $medium;
    text-transform: uppercase; 
}

.previous-button span::after{
    position:absolute;
    content:"";
    width: rem(7);
    height:rem(7);
    border-bottom: 1px solid #001E63;
    border-left: 1px solid #001E63;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    top:rem(18);
    left:rem(17);
    transition: 0.3s;
}

.previous-button:hover.previous-button span::after{
        left:rem(12);
}




.previous-button--completion{
    background-color: #011950;
    padding: rem(12) 0 rem(11) 0;
	text-decoration: none;
    width:100%;
    max-width: rem(295);
    @include mq(md){
        max-width: rem(460);
        padding: rem(20) 0 rem(20) 0;
    }
}

.previous-button--completion span{
    color: $white;
    font-weight: $bold;
    @include mq(md){
        font-size: rem(18);
    }
}

.previous-button--completion span::after{
    border-bottom: 1px solid $white;
    border-left: 1px solid $white;
    left:rem(90);
    @include mq(md){
        left: rem(165);
        top: rem(25);
    }
    
}

.previous-button--completion:hover.previous-button--completion span::after{
    left:rem(85);
    @include mq(md){
        left:rem(160);
    }
}

// .previous-button--single-works:hover.previous-button--single-works span::after{
//     left:rem(85);
// }


.previous-button--not-found{
    border:1px solid $white;
}

.previous-button--not-found span{
    color: $white;
}

.previous-button--not-found span::after{
    border-bottom: 1px solid $white;
    border-left: 1px solid $white;
}