@use "global" as *;

.profile{
    padding-top: rem(20);
    padding-bottom: rem(20);
    border-bottom: 1px solid #E2E2E2;
    @include mq(md){
        padding-top: rem(40);
        padding-bottom: rem(40);
        display: flex;
    }
}

.profile__title{
    font-size: rem(14);
    font-weight: $bold;
    @include mq(md){
        font-size: rem(16);
        margin-right:rem(90);
        max-width: rem(80);
        width:100%;
    }
}

.profile__text{
    font-size: rem(14);
    font-weight: $bold;
    margin-top: rem(16);
    line-height: 2;
    @include mq(md){
        font-size: rem(16);
        margin-top: 0;
    }
}