@use "global" as *;

.section-title{
    font-size: rem(38);
    font-family: $second;
    color:$black;
    line-height: 1; 
    @include mq(md){
        font-size: rem(70);
    }
}

.section-title--small{
    font-size: rem(14);
}