@use "global" as *;

.service-section{
    position: relative;
    padding-top: rem(60);
    margin-top: rem(50);
    @include mq(md){
        margin-top: rem(120);
    }
}

.service-section--01{
    margin-top: rem(80);
    @include mq(md){
        margin-top: rem(120);
    }
}

.service-section::after{
    position: absolute;
    top:0;
    left: 0;
    content: "";
    width:100%;
    height:61%;
    background-color: #F8F8F8;
    z-index: -10;
    @include mq(md){
        height:100%;
    }
}



.service-section__inner{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: rem(600);
    @include mq(md){
        display: flex;
        max-width: rem(1440);
    }
}


.service-section__head{
    padding-left: rem(20);
    padding-right: rem(20);
    @include mq(md){
        padding-left: rem(170);
        padding-right: rem(110);
        width:100%;
        max-width:rem(680)
    }
}

.service-section__number{
    font-weight: $bold;
    font-size: rem(32);
    font-family: $second;
    color: #001E63;
    display: inline-block;
    @include mq(md){
        font-size: rem(40);
    }
}

.service-section__number::after{
    display: inline-block;
    content: "";
    width: rem(1);
    height: rem(30);
    background-color: $black;
    margin-left: rem(10);
    @include mq(md){
        height: rem(34);
    }
}

.service-section__title{
    font-weight: $bold;
    font-size: rem(20);
    margin-top: rem(20);
    @include mq(md){
        font-size: rem(28);
    }
}

.service-section__text{
    font-weight: $bold;
    font-size: rem(14);
    margin-top: rem(20);
    @include mq(md){
        font-size: rem(22);
    }
}

.service-section__img{
    position: relative;
    margin-top: rem(30);
    margin-left: rem(50);
    z-index: -1;
    @include mq(md){
        width: 100%;
        max-width: rem(760);
        margin-top: 0;
        margin-left: 0;
    }
}

.service-section__img::before{
    content: "";
    display: block;
    padding-top: 65.846154%;//比率
	}

.service-section__img img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:100%;
    object-fit: cover;
	object-position:center;
}

.service-section__body{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: rem(600);
    padding-right: rem(50);
    margin-top: rem(-53);   
    @include mq(md){
        max-width: rem(1440);
        padding-right: 0;
    }
}

.service-section__feature{
    @include mq(md){
        width:100%;
        max-width:rem(860);
    }
}


