@use "global" as *;

.single__inner{
    margin-top: rem(30);
    @include mq(md){
        display: flex;
        max-width: rem(1140);
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: rem(20);
        padding-right: rem(20);
        margin-top: rem(60);
    } 
}

.single__wrapper{
    padding-left: rem(30);
    padding-right: rem(30);
    width:100%;
    max-width: rem(660);
    margin-left: auto;
    margin-right: auto;
    @include mq(md){
        max-width: rem(760);
        width:100%;
        padding-left: rem(40);
        padding-right: rem(40);
    }
}

.single__side{
    width:100%;
    max-width:rem(630);
    padding-left: rem(15);
    padding-right: rem(15);
    margin-left: auto;
    margin-right: auto;
    @include mq(md){
        max-width: rem(300);
        width:100%;
        margin-left: rem(40);
        padding-left: 0;
        padding-right: 0;
    }
}

.single__subtitle01{
    font-weight: $bold;
    background-color: #F9F9F9;
    border-left: 3px solid #001E63;
    font-size: rem(16);
    padding-top: rem(8);
    padding-bottom: rem(8);
    padding-left: rem(11);
    margin-top: rem(40);
}

.single__text{
    font-size: rem(14);
    font-weight: $bold;
    margin-top: rem(40);
    line-height: 2;
}

.single__subtitle02{
    font-weight: $bold;
    font-size: rem(18);
    padding-bottom: rem(8);
    padding-left: rem(13);
    margin-top: rem(40);
    border-bottom: 1px solid #000;
}

.single__list{
    margin-top: rem(40);
}

.single__list li:before{
    display: inline-block;
    margin-right: rem(10);
    content: "";
    width: rem(6);
    height: rem(6);
    border-radius: 50%;
    transform: translateY(-50%);
    top:50%;
    background-color: #001E63;
}

.single__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(40);
}

