@use "global" as *; 

.sp-nav{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:100vh;
    background-color: #001135;
    overflow: auto;//高さが低くなった時に、スクロールできるようにする
}

.sp-nav.is-active{
    display: block;
    position:fixed;
}


.sp-nav__title{
    width: rem(108.48);
    max-width:100%;
    position: fixed;
}

.sp-nav__body{
    padding: rem(160) rem(50);
    min-height: 100vh;
}

.sp-nav__item{
    width:100%;
    border-top: 1px solid #011950;
}

.sp-nav__item:last-child{
    border-bottom: 1px solid #011950;
}

.sp-nav__item a{
    color:$white;
    display: block;
    padding:rem(19.5) 0;
    padding-left: rem(3);
    letter-spacing: 0.125em;
    font-size: rem(16);
    line-height: 1;
}

.sp-nav__item a:hover{
    text-decoration: underline;
    text-decoration-color: #FFEA2E;
    text-underline-offset: 7px;
}

.sp-nav__icon{
    margin-top: rem(50);
}




.is-menuOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}